.card__body--bg {
    background: $white;    
}
.card__title {
    font-size: 1rem;
}
.card__title--blue {
    color: $indigo;
}
.card__rating--yellow {
    color: $goldenrod;
}
.card__price {
    font-size: 1.25rem;
}