$indigo: #1466C3;
$indigo-dark: #0B386B;
$indigo-light: #4D98EC;

$goldenrod: #EABF4A;
$goldenrod-dark: #D6A319;
$goldenrod-light: #F1D486;

$blue: #79C1FF;
$blue-dark: #4CABFF;
$blue-light: #A6D5FF;

$alabaster: #F4F4EB,;
$alabaster-dark: #F1F1E6;
$alabaster-light: #F8F8F2;

$black: #1c1c1c;
$gray: #555555;
$gray-light-: #8E8E8E;
$white: #FAFAFF;